img {
  display: block;
  max-width: 100%;
}

.project {
  background: var(--color-accent);
  color: var(--color-contrast);
  padding-top: 100px;
  padding-bottom: 100px;
}

.project__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

.project__information {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.project__title {
  color: var(--color-contrast);
  font-size: 21px;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.project__text {
  margin: 0;
}


