.about-me {
  background: var(--bg-accent);
  padding: 100px 400px;
  justify-content: center;
  align-content: center;
}

.&__content {
  max-width: 540px;
  margin: 0 auto;
}

.&__title {
  text-align: center;
  font-size: 32px;
  margin: 0 0 20px;
}

.&__desc {
  text-align: center;
  margin: 0 20px;
}

